* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #88AB8E;
    
    padding: 1rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%; 
}
.choice:hover{
    
    cursor: pointer;
    background-color: #88AB8E;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
.score-board{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 5rem;
}

.score{
    font-size: 1.6rem;
    padding-top: 3rem;
}
#user-score, #cpu-score{
    font-size: 3.5rem;
    
}
#msg{
    background-color: #88AB8E;
    columns: white;
    display: inline;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 2rem;
}

body{
    background-color: #f5ead5;
}